.logo {
    max-width: 50em;
}

.plogo {
    width: 2.5em;
    height: 2.5em;
}

.phrase {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    color: #343434;
}

.head {
    font-size: 2.2em;
}

.mid{
    vertical-align: middle;
}

.pphrase {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 1em;
    color: #343434;
}

.question {
    font-family: 'Roboto', sans-serif;
    font-size: 20em;
    color: #343434;
}

body {
    text-align: center;
    align-content: center;
}

.carousel {
    max-width: 40em;
    min-width: 20em;
    height: auto;
    margin-left: auto;
    margin-right: auto
}

button.btn > div {
    color: #1F1F1F
}